<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Result</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto ">
        <a class="nav-item nav-link active btn btn-danger ml-3" [routerLink]="['/']" routerLinkActive="router-link-active"  >Logout</a>
      </div>
    </div>
  </nav>
</header>

<section>
<div class="container mt-4">
  <table class="table table-bordered">
    <thead class="table-light">
      <tr>
        <th scope="col">Student</th>
        <th scope="col">Batch</th>
        <th scope="col">Mark </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentDetails">
        <td>{{student.studentName}}</td>
        <td>{{student.batch}}</td>
        <td>{{student.marks}}</td>
      </tr>
    </tbody>
  </table>
</div>
</section>